__pycache__/
*.pyc
.env
ffmpeg.exe
ffplay.exe
ffprobe.exe
ffmpeg-ext/
venv/
.venv/
input/*
!input/.keep
output/*
!output/.keep
downloads/youtube/*
!downloads/youtube/.keep
downloads/source/*
!downloads/source/.keep
assets/*
!assets/.keep
!assets/logo.png
!assets/sfx/
!assets/sfx/*.wav
!scripts/
!scripts/*.sh
!scripts/*.ps1
